
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');
.chat-container{
    margin-top: 4rem;
    padding-bottom: 4.5rem;
    background-color: #181818;
}
.Chat{
    background-color: #cfebb6;
    border: 1px solid black;
    border-radius: 1rem;
    border-top-left-radius: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    width: auto;
    overflow-y : visible;
    flex-direction : column-reverse;
    word-wrap: break-word;
    margin: 1rem;
    font-size: 1rem;
    color:white;
    font-family: 'Open Sans', sans-serif;
}
.chat-inside{
    margin: 0.5rem 0;
}

.chat-inside  p{
    display: inline;
}


.chat-inside .fa-solid{
    margin-right: 1rem;
}
.even{
    background-color: white;
    font-size: 1.2rem;
    font-weight: 400;
    color: black;
}

.odd{
    background-color: #3C3C3C;
}

.robot-icon-chat{
    margin-right: 1rem;
    margin-top: .5rem;
    height: 25px;
    width:  25px;
}

@media (min-width: 768px){
    .chat-container{
        margin:5rem 20rem;
    }.Chat{
        border-radius: .5rem;
    }
    .even{
        width: max-content;
    }

}